[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/jsphuebner/libopencm3
[submodule "libopeninv"]
	path = libopeninv
	url = https://github.com/amattila/libopeninv.git
	branch = uart-over-can-impl
